<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品分类</title>
  <link rel="stylesheet" href="assets/mui/css/mui.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mobile.css">
</head>
<body>
<!--乐淘的主容器-->
<div class="lt_container">
  <header class="lt_header">
    <a href="javascript:history.back();" class="left"><span class="mui-icon mui-icon-back"></span></a>
    <h3>商品分类</h3>
    <a href="search.html" class="right"><span class="fa fa-search"></span></a>
  </header>
  <div class="lt_body">
    <div class="lt_content">
      <div class="lt_cateLeft">
        <ul>
          <!--TODO-->
        </ul>
      </div>
      <div class="lt_cateRight">
        <ul>
          <!--TODO-->
        </ul>
      </div>
    </div>
  </div>
  <div class="lt_footer">
    <a href="index.html"><span class="fa fa-home"><p>首页</p></span></a>
    <a href="category.html" class="now"><span class="fa fa-bars"><p>分类</p></span></a>
    <a href="team/index.html"><span class="fa fa-users"><p>拼购</p></span></a>
    <a href="user/cart.html"><span class="fa fa-shopping-cart"><p>购物车</p></span></a>
    <a href="user/index.html"><span class="fa fa-user"><p>个人中心</p></span></a>
  </div>
</div>
<!--一级分类模板-->
<script type="text/template" id="firstTemplate">
  <% for(var i = 0; i<rows.length ; i++) { %>
    <li class="<%=i==0? 'now': ''%>"><a href="javascript:;" data-id="<%=rows[i].id%>"><%=rows[i].categoryName%></a></li>
  <% } %>
</script>
<!--二级分类模板-->
<script type="text/template" id="secondTemplate">
  <% if (rows.length){ %>
    <% for(var i = 0; i<rows.length ; i++) { %>
      <li><a href="javascript:;"><img onerror="this.src='images/none.jpg'" src="<%=rows[i].brandLogo%>" alt=""><p><%=rows[i].brandName%></p></a></li>
    <% } %>
   <% } else {%>
    <li class="nd">该分类下暂无品牌</li>
   <% } %>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/art-template/template-native.js"></script>
<script src="js/category.js"></script>
</body>
</html>